body{
  margin: 0;
  padding: 0;
  background-color: #faebd7;
}
#title-banner{
  background-color: #c7e6f9;
  padding: 10px;
}
#content img{
  margin: 5px 10px 0px 0px;
  float: right;
  width: 27%;
}
#content a{
  color: blue;
  text-decoration: none;
}
#content-summary{
  margin-left: 1px;
  border: 1px black solid;
  width: 650px;
}
